.rc-slider {
  height: 3.25rem;
  position: relative;
  touch-action: none;
}

.rc-slider-rail,
.rc-slider-track {
  height: 100%;
  position: absolute;
  width: 100%;
}

.slider-last-track::after,
.rc-slider-rail::before,
.rc-slider-rail::after,
.rc-slider-track::before {
  color: white;
  font-size: 1.25rem;
  font-family: Bitter, serif;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.rc-slider-rail::before {
  content: 'A';
  left: 2rem;
}

.slider-last-track::after,
.rc-slider-rail::after {
  content: 'C';
  right: 2rem;
}

.rc-slider-track {
  z-index: 10;
}

.rc-slider-track::before {
  content: 'B';
  left: 50%;
  transform: translate(-50%, -50%);
}

.rc-slider-handle {
  background-color: currentColor;
  border-radius: 0.15rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, .4);
  color: #D4310D;
  cursor: grab;
  height: 4.25rem;
  outline: none;
  position: absolute;
  top: -0.5rem;
  touch-action: pan-x;
  transform: translateX(-0.2rem);
  width: 0.5rem;
  z-index: 20;
}

.rc-slider-handle::before,
.rc-slider-handle::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 400ms ease;
  z-index: 30;
}

.rc-slider-handle::before {
  border-width: 0.55rem 0.55rem 0.55rem 0;
  border-color: transparent currentColor transparent transparent;
  left: -0.9rem;
}

.rc-slider-handle::after {
  border-width: 0.55rem 0 0.55rem 0.55rem;
  border-color: transparent transparent transparent currentColor;
  right: -0.9rem;
}

@media (hover: hover) {
  .rc-slider-handle::before,
  .rc-slider-handle::after {
    opacity: 0;
  }

  .rc-slider-handle:hover::before,
  .rc-slider-handle:hover::after {
    opacity: 1;
  }
}

/* Overwrites for disabled state (Intro) */

.rc-slider-disabled .rc-slider-handle {
  cursor: default;
}

.rc-slider-disabled .rc-slider-handle::before,
.rc-slider-disabled  .rc-slider-handle::after {
  display: none;
}
