.rc-slider {
  height: 2.5rem;
  position: relative;
  touch-action: none;
}

.rc-slider-rail,
.rc-slider-track {
  height: 100%;
  position: absolute;
  width: 100%;
}

.rc-slider-handle {
  background-color: #D4310D;
  border-radius: 0.15rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, .4);
  cursor: grab;
  height: 3.85rem;
  outline: none;
  position: absolute;
  top: -0.65rem;
  touch-action: pan-x;
  transform: translateX(-0.225rem);
  width: 0.45rem;
}
